/**********/
/** card **/
/**********/

/* Desktop default */

.card{
    position: relative;
    flex-basis: calc(100%/6);
    height: 130px;
    overflow: hidden;
    border: 1px solid;
}

.card.choose .img-hider{
    opacity: 0;
}

.card.guessed .img-hider{
    opacity: 0;
}

.card .img-hider{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #c0c1c2;
    cursor: pointer;
    transition: background-color 0.3s, opacity .2s;
    z-index: 1;
}


.img-hider:hover{
    background-color: rgb(223, 223, 223);
}

.img-hider:hover .icon:before{
    transform: scale(1.15);

}

.img-hider .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}

.img-hider .icon:before{
    font-size: 35px;
    color: #1f2021;
    opacity: 0.9;
    transition: transform 0.3s;
}

.card .img{
    width: 100%;
    border: 1px solid #1f2021;
    transform: scale(1.15);
}


/* Tablet */
@media (max-width: 780px) and (min-width: 500px){

    .card{
        height: 90px;
    }
}

/* Mobile */
@media screen and (max-width: 510px){

    .card{
        flex-basis: calc(100%/4);
    }
}
